---
http_interactions:
- request:
    method: post
    uri: http://sandbox.feedly.com/v3/entries
    body:
      encoding: UTF-8
      string: '{"title":"NBCs reviled sci-fi drama Heroes may get a second lease","author":"Nathan
        Ingraham","content":{"direction":"ltr","content":"...html content the user
        wants to associate with this entry.."},"tags":[{"id":"user/96cc52b7-a17f-4ce0-9b38-de1b6f08f156/tag/Mobile"}],"alternate":[{"type":"text/html","href":"http://www.theverge.com/2013/4/17/4236096/nbc-heroes-may-get-a-second-lease-on-life-on-xbox-live"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth _oauth_access_token_
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri May 23 22:56:52 PDT 2014
      X-Ratelimit-Count:
      - '1894'
      X-Feedly-Processing-Time:
      - '311'
      X-Feedly-Server:
      - sandbox-he
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '["+hU+Be0MOgb6WHAxbp8odTG2WhCSf28bbdoVLhFTa14=_1462ccda2c7:69b:4436cee5"]'
  recorded_at: Sat, 24 May 2014 05:58:49 GMT
recorded_with: VCR 2.9.1
