---
http_interactions:
- request:
    method: get
    uri: http://sandbox.feedly.com/v3/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth _oauth_access_token_
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat May 17 05:38:13 PDT 2014
      X-Ratelimit-Count:
      - '4248'
      X-Feedly-Processing-Time:
      - '1'
      X-Feedly-Server:
      - sandbox-he
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"96cc52b7-a17f-4ce0-9b38-de1b6f08f156","client":"feedly","wave":"2014.20","email":"khellls@gmail.com","familyName":"al
        Habache","givenName":"Khaled","google":"101815568284880592630","gender":"female","picture":"https://lh5.googleusercontent.com/-J8YXQSTt1Tc/AAAAAAAAAAI/AAAAAAAAAVw/Qi9vlcmHukw/photo.jpg?sz=50","paymentProviderId":{},"paymentSubscriptionId":{},"dropboxConnected":false,"created":1400161263309,"windowsLiveConnected":false,"facebookConnected":false,"wordPressConnected":false,"evernoteConnected":false,"pocketConnected":false,"twitterConnected":false,"source":"feedly.desktop
        20.1.748","fullName":"Best lady"}'
  recorded_at: Sat, 17 May 2014 12:39:51 GMT
recorded_with: VCR 2.9.0
