---
http_interactions:
- request:
    method: get
    uri: http://sandbox.feedly.com/v3/evernote/notebooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth _oauth_access_token_
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun May 25 06:27:42 PDT 2014
      X-Ratelimit-Count:
      - '3834'
      X-Feedly-Processing-Time:
      - '84'
      X-Feedly-Server:
      - sandbox-he
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"notebooks":[{"guid":"8fcf3dd9-b1ec-4706-ae83-ad9235513f87","name":"First
        Notebook","type":"personal"}]}'
  recorded_at: Sun, 25 May 2014 13:29:43 GMT
recorded_with: VCR 2.9.1
