---
http_interactions:
- request:
    method: post
    uri: http://sandbox.feedly.com/v3/markers
    body:
      encoding: UTF-8
      string: '{"categoryIds":["user/96cc52b7-a17f-4ce0-9b38-de1b6f08f156/category/Tech","user/96cc52b7-a17f-4ce0-9b38-de1b6f08f156/category/Entreprenuership"],"action":"markAsRead","type":"categories","lastReadEntryId":"k3wM4lkt2uyzklIaZG/piLCFwWpRsuSz4luWQLHP0YY=_142814c6526:338b:2190d777"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth _oauth_access_token_
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat May 17 05:37:50 PDT 2014
      X-Ratelimit-Count:
      - '4248'
      X-Feedly-Processing-Time:
      - '296'
      X-Feedly-Server:
      - sandbox-he
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2014 12:39:28 GMT
recorded_with: VCR 2.9.0
