---
http_interactions:
- request:
    method: post
    uri: http://sandbox.feedly.com/v3/feeds/.mget
    body:
      encoding: UTF-8
      string: '["feed/http://feeds.engadget.com/weblogsinc/engadget","feed/http://www.yatzer.com/feed/index.php"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun May 18 03:32:51 PDT 2014
      X-Feedly-Processing-Time:
      - '1'
      X-Feedly-Server:
      - sandbox-he
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"feed/http://feeds.engadget.com/weblogsinc/engadget","feedId":"feed/http://feeds.engadget.com/weblogsinc/engadget","title":"Engadget
        RSS Feed","velocity":261.3,"subscribers":4,"language":"en","website":"http://www.engadget.com","description":"Engadget"},{"id":"feed/http://www.yatzer.com/feed/index.php","feedId":"feed/http://www.yatzer.com/feed/index.php","title":"Feed
        - Yatzer.com","velocity":5.8,"subscribers":5,"language":"en","website":"http://www.yatzer.com","description":"Latest
        Articles @ Yatzer.com"}]'
  recorded_at: Sun, 18 May 2014 10:34:32 GMT
recorded_with: VCR 2.9.0
