---
http_interactions:
- request:
    method: get
    uri: http://sandbox.feedly.com/v3/shorten/entries/k3wM4lkt2uyzklIaZG%2FpiLCFwWpRsuSz4luWQLHP0YY=_142814c6526:338b:2190d777
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth _oauth_access_token_
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat May 17 05:38:13 PDT 2014
      X-Ratelimit-Count:
      - '4248'
      X-Feedly-Processing-Time:
      - '1'
      X-Feedly-Server:
      - sandbox-he
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"entryId":"k3wM4lkt2uyzklIaZG/piLCFwWpRsuSz4luWQLHP0YY=_142814c6526:338b:2190d777","shortUrl":"http://sandbox.feedly.com/e/Shqvh6hP","longUrl":"http://design-milk.com/disco-ball-inspired-scotch-club-lighting-collection/","via":"Feedlr
        sandbox client"}'
  recorded_at: Sat, 17 May 2014 12:39:51 GMT
recorded_with: VCR 2.9.0
