---
http_interactions:
- request:
    method: get
    uri: http://sandbox.feedly.com/v3/opml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - OAuth _oauth_access_token_
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun May 18 03:32:51 PDT 2014
      X-Ratelimit-Count:
      - '4670'
      Content-Disposition:
      - attachment; filename="feedly.opml"
      X-Feedly-Processing-Time:
      - '2'
      X-Feedly-Server:
      - sandbox-he
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>

        <opml version="1.0">
            <head>
                <title>Khaled subscriptions in feedly Cloud</title>
            </head>
            <body>
                <outline text="Design" title="Design">
                    <outline type="rss" text="Design Milk" title="Design Milk" xmlUrl="http://feeds.feedburner.com/design-milk" htmlUrl="http://design-milk.com"/>
                </outline>
                <outline text="Kool" title="Kool">
                    <outline type="rss" text="Dave McClure" title="Dave McClure" xmlUrl="http://500hats.com/feed" htmlUrl="http://500hats.com"/>
                </outline>
                <outline text="Art" title="Art">
        [...]
