---
http_interactions:
- request:
    method: get
    uri: http://sandbox.feedly.com/v3/topics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth _oauth_access_token_
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed May 21 11:25:13 PDT 2014
      X-Ratelimit-Count:
      - '2158'
      X-Feedly-Processing-Time:
      - '0'
      X-Feedly-Server:
      - sandbox-he
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"updated":1400696626372,"created":1400696314010,"interest":"medium","id":"user/96cc52b7-a17f-4ce0-9b38-de1b6f08f156/topic/business"}]'
  recorded_at: Wed, 21 May 2014 18:27:04 GMT
recorded_with: VCR 2.9.0
